.product-card {
  
  height: 77.3vh; /* fixed card height */
  margin: 30px auto 0 auto; /* top margin only */
  border-radius: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.product-img-wrapper {
  height: 80%; /* image occupies 70% of card */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  overflow: hidden;
}

.product-img-wrapper img {
  width: 100%;
  height: 100%;
   border-radius: 0;
  object-fit: fill; /* image covers container fully */
}

.card-body {
  height: 20%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 12px; 
}

.btn {
  border-radius: 6px;
}
